/**
 * Layout - Nav
 */

.nav {
  display: none;

  @media (min-width: breakpoint("md")) {
    @include row(flex-end, center);
    gap: 2.25rem;
    flex: 0 1 auto;
  }

  &__primaryMenu, &__socialMenu {
    @include list-unstyled();
    @include row(space-around, center);
    gap: 2.25rem;
    flex: 0 1 auto;
  }

  &__menuItem {
    font-size: font-size("medium");
    text-transform: capitalize;
  }
}
