/**
 * Layout - Nav
 */

.nav {
  display: none;

  @media (min-width: breakpoint("md")) {
    @include row(flex-end, center);
    gap: 2.25rem;
    flex: 0 1 auto;
    height: 100%;;
  }

  &__primaryMenu, &__socialMenu {
    @include list-unstyled();
    @include row(space-around, center);
    gap: 2.25rem;
    flex: 0 1 auto;
    height: 100%;
    margin: 0;
  }

  &__menuItem {
    text-transform: capitalize;

    &.is-current a {
      font-weight: 700;
    }
  }
}
